extends ../default/layout
block navigation

block content
    #viewer
    .viewer-options
        ul
            li
                a.btn.blue.generate-3dpdf.tooltipped(data-position="right" data-delay="50" data-tooltip="Please ensure your PDF viewer supports 3D models. Use Adobe Acrobat or similar" href="#") 3D PDF
            li
                a.btn.blue.export-to-png.tooltipped(data-position="right" data-delay="50" data-tooltip="Export current model view to JPEG image" href="#" target="_blank") Image
            li
                .pdf-container
block footer
block custom-scripts
    script(src="/js/viewer.js")


