extends ../default/layout
block content
    .container
        .row
            if user.uploadedModels
                each item in user.uploadedModels
                    .col.s12.m6
                        .card(style="position:relative")
                            p.card-title.center-align(style="color:#000")= item.name
                            .card-action
                                a.center-align(href= url + 'preview?urn=' + item.urn target="_blank") Preview