extends ../default/layout
block content
    .upload-box
        .container
            .row
                .col.s12
                    h1.header.center-on-small-only.center-align Upload file for translation
                    form.file-upload
                        .file-field.input-field
                            input.file-path.validate#file-text(type="text")
                            .btn
                                span File
                                input.blue.lighten-1(type="file" id="files" name="files" multiple)
                        br

                        .translate-controls.center
                            a.btn.blue.lighten-1#btn-translate-model Translate model
                        br
                .col.s12
                    h5.center-align#msg(style="color:#009688")
    .progress.progress-bar
        .indeterminate

    .grey.lighten-3.full-box
        .container
            .col.s12
                h3 Uploaded models
                h4.light.grey-text.text-lighten-1.center-on-small-only Click on an button below to view models in fullscreen
                .row#list
