//base colors
$white: #fff
$black: #000

//material colors
$material-blue:#2196f3
$material-light-gray:#eeeeee
$material-teal:#009688


footer.page-footer
  margin-top: 0 !important

.footer-links
  display: block !important

.account
  font-size: 12px !important

nav ul li a
  margin: 0 15px
  color: $material-blue !important

  .brand-logo
    color: $black
    margin-right: 45px


.progress
  margin: 0 !important
  visibility: hidden

.full-box
  height: 20%

  .container
    padding: 5%

.model-iframe
  margin-top: 20px
  margin-bottom: 60px
  border: none
  height: 350px
  width: 100%

.upload-box
  padding: 10%

.validate
  color: $material-teal

.view-model
  margin: 0 42%

.login-form
  padding: 20px !important
  margin: 3% 0 10% 0