//base colors
$white: #fff
$black: #000

//material colors
$material-blue: #2196f3
$material-light-gray: #eeeeee
$material-teal: #009688

footer.page-footer
  margin-top: 0 !important

.footer-links
  display: block !important

.account
  font-size: 12px !important

nav ul li a
  margin: 0 15px
  color: $material-blue !important

nav .brand-logo
  margin-left: 120px

.progress
  margin: 0 !important
  visibility: hidden

.full-box
  height: 20%

  .container
    padding: 5%

.model-iframe
  margin-top: 20px
  margin-bottom: 60px
  border: none
  height: 350px
  width: 100%

.upload-box
  background: url("../images/background.jpg") center center fixed
  padding: 10%

#file-text
  padding-left: 30px

#files
  width: 50px !important

.validate
  color: $material-teal

.view-model
  margin: 0 42%

.login-form
  padding: 20px !important
  margin: 3% 0 10% 0

.login-page
  background: url(http://i1138.photobucket.com/albums/n531/dx-toys/IronMan.jpg) center center fixed

.register-page
  background: url(http://renderstuff.com/publication-files/0221/big-image21-wire-4.jpg) center center fixed

.not-logged-warning
  font-size: 12px !important
  font-style: italic
  display: block

.viewer-options
  position: absolute
  top: 0
  z-index: 999
  display: none

  ul li a
    margin: 5px 15px
    padding: 3px !important
    width: 90%

.pdf-warning
  width: 200px
  background: #efefef

.pdf-container
  display: none
  background: #C6C6C6
  a
    color: $white

input[type=text].invalid
  border-bottom: 1px solid #9e9e9e !important
  box-shadow: none